
/*MainChart*/
.main-div {
    display: flex;
    flex-direction: row;
}

.row-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 5%;
}

.chart-div {
    padding-top: 2%;
}

.apexcharts-menu-icon {
    display: none;
}

/*MemoryChart*/
.dropdown-outside-global {
    margin-left: 8%;
}

/*AverageValues*/
.column-div {
    margin-top: 5%;
    padding-left: 3%;
    display: flex;
    width: 100%;
    flex-direction: column;
}


.normal-text {
    color: #FFFFFF;
}

.high-value {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #6ACD75;
}

.average-value {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #1178f2;
}

.low-value {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #FF4162;
}

/*TopValues*/

.used-average {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #FF1654;
}

.buff-average {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #247BA0;
}

.cach-average {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #9C27B0;
}

.free-average {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    font-size: medium;
    color: #FF7B5C;
}


